*-checkpoint.ipynb
1-mathematics and python/Assignments
2-supervised learning/Assignments
3-unsupervised learning/Assignments
4-stats for data analysis/Assignments
5-data analysis applications/Assignments
Assignments
