*-checkpoint.ipynb

*.Rdata

*.Rhistory

*.m~

*.mp4
big-data(San Diego)/1-big-data-introduction/Assignments
big-data(San Diego)/2-big-data-management/Assignments
big-data(San Diego)/3-big-data-integration-processing/Assignments
big-data(San Diego)/4-big-data-machine-learning/Assignments
_machine-learning(Andrew NG course)/Assignments
_machine-learning-intro(Vorontsov course)/Assignments
_r-programming(JHU course)/Assignments
deep-learning(Andrew NG)/1-NN-and-DL/Assignments
deep-learning(Andrew NG)/2-improving-deep-NN/Assignments
deep-learning(Andrew NG)/3-machine-learning-projects/Assignments
machine-learning-data-analysis(MIPT)/1-mathematics-and-python/Assignments
machine-learning-data-analysis(MIPT)/2-supervised-learning/Assignments
machine-learning-data-analysis(MIPT)/3-unsupervised-learning/Assignments
machine-learning-data-analysis(MIPT)/4-stats-for-data-analysis/Assignments
machine-learning-data-analysis(MIPT)/5-data-analysis-applications/Assignments
machine-learning-data-analysis(MIPT)/6-data-analysis-project
_analytics-mysql(Duke course)/Assignments